<a href="https://colab.research.google.com/github/imprincesarraf/imprincesarraf/blob/main/Air%20Quality%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [239]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [240]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/chennai.csv")
df.head()

          From Date           To Date  PM2.5   PM10    NO    NO2    NOx    NH3
0  07-01-2022 00:00  08-01-2022 00:00  27.35  57.07  6.38  14.72  21.06  29.22
1  08-01-2022 00:00  09-01-2022 00:00  22.39  49.44  6.54  19.24  25.75  30.65
2  09-01-2022 00:00  10-01-2022 00:00  17.24  41.52  3.99   8.85  12.84  17.24
3  10-01-2022 00:00  11-01-2022 00:00  21.18  47.61  5.88  12.83  18.69  18.19
4  11-01-2022 00:00  12-01-2022 00:00  24.56  52.79  8.25  12.33  20.59  20.52

In [241]:
df.shape

(21769, 8)

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21769 entries, 0 to 21768
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   From Date  21769 non-null  object
 1   To Date    21769 non-null  object
 2   PM2.5      10759 non-null  object
 3   PM10       11860 non-null  object
 4   NO         9286 non-null   object
 5   NO2        9656 non-null   object
 6   NOx        12225 non-null  object
 7   NH3        9232 non-null   object
dtypes: object(8)
memory usage: 1.3+ MB

In [243]:
df.describe()

,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,NH3
count,21769,21769,10759,11860,9286,9656,12225,9232
unique,369,369,4722,5132,3626,3668,5157,3046
top,07-01-2022 00:00,08-01-2022 00:00,None,None,None,None,None,None
freq,59,59,1520,2141,1789,1473,2031,1630

In [244]:
df.isnull().sum()
# There are a lot of missing values present in the dataset

From Date        0
To Date          0
PM2.5        11010
PM10          9909
NO           12483
NO2          12113
NOx           9544
NH3          12537
dtype: int64

In [245]:
df.nunique()

From Date     369
To Date       369
PM2.5        4722
PM10         5132
NO           3626
NO2          3668
NOx          5157
NH3          3046
dtype: int64

In [246]:
df.columns

Index(['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3'], dtype='object')

In [247]:
nullvalues = df.isnull().sum().sort_values(ascending=False)
nullvalues

NH3          12537
NO           12483
NO2          12113
PM2.5        11010
PM10          9909
NOx           9544
From Date        0
To Date          0
dtype: int64

In [248]:
null_values_percentage = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending=False)

In [249]:
missing_data_with_percentage = pd.concat([nullvalues, null_values_percentage], axis=1, keys=['Total', 'Percent'])

In [250]:
missing_data_with_percentage

           Total    Percent
NH3        12537  57.591070
NO         12483  57.343011
NO2        12113  55.643346
PM2.5      11010  50.576508
PM10        9909  45.518857
NOx         9544  43.842161
From Date      0   0.000000
To Date        0   0.000000

In [251]:
df = df.rename(columns={'From Date': 'Date'})
df.drop(['To Date'],axis=1,inplace=True)
df.head()

               Date  PM2.5   PM10    NO    NO2    NOx    NH3
0  07-01-2022 00:00  27.35  57.07  6.38  14.72  21.06  29.22
1  08-01-2022 00:00  22.39  49.44  6.54  19.24  25.75  30.65
2  09-01-2022 00:00  17.24  41.52  3.99   8.85  12.84  17.24
3  10-01-2022 00:00  21.18  47.61  5.88  12.83  18.69  18.19
4  11-01-2022 00:00  24.56  52.79  8.25  12.33  20.59  20.52

In [252]:
df.Date=df.Date.str[0:10]
df.head()

         Date  PM2.5   PM10    NO    NO2    NOx    NH3
0  07-01-2022  27.35  57.07  6.38  14.72  21.06  29.22
1  08-01-2022  22.39  49.44  6.54  19.24  25.75  30.65
2  09-01-2022  17.24  41.52  3.99   8.85  12.84  17.24
3  10-01-2022  21.18  47.61  5.88  12.83  18.69  18.19
4  11-01-2022  24.56  52.79  8.25  12.33  20.59  20.52

In [253]:
df.dtypes['Date']

dtype('O')

In [254]:
df['Date'][1]

'08-01-2022'

In [255]:
#timefmt = "%Y-%m-%d %H:%M:%S" 
#df['Date'] = pd.to_datetime(df['Date'], format = timefmt, errors='coerce')

In [256]:
df.dtypes

Date     object
PM2.5    object
PM10     object
NO       object
NO2      object
NOx      object
NH3      object
dtype: object

In [257]:
df.head()

         Date  PM2.5   PM10    NO    NO2    NOx    NH3
0  07-01-2022  27.35  57.07  6.38  14.72  21.06  29.22
1  08-01-2022  22.39  49.44  6.54  19.24  25.75  30.65
2  09-01-2022  17.24  41.52  3.99   8.85  12.84  17.24
3  10-01-2022  21.18  47.61  5.88  12.83  18.69  18.19
4  11-01-2022  24.56  52.79  8.25  12.33  20.59  20.52

In [258]:
df['Date']

0        07-01-2022
1        08-01-2022
2        09-01-2022
3        10-01-2022
4        11-01-2022
            ...
21764    04-01-2023
21765    05-01-2023
21766    06-01-2023
21767    07-01-2023
21768    08-01-2023
Name: Date, Length: 21769, dtype: object

In [259]:
df['Date'] = pd.to_datetime(df['Date'],errors='coerce')

In [260]:
df['Date']

0       2022-07-01
1       2022-08-01
2       2022-09-01
3       2022-10-01
4       2022-11-01
           ...
21764   2023-04-01
21765   2023-05-01
21766   2023-06-01
21767   2023-07-01
21768   2023-08-01
Name: Date, Length: 21769, dtype: datetime64[ns]

In [261]:
df.head()

        Date  PM2.5   PM10    NO    NO2    NOx    NH3
0 2022-07-01  27.35  57.07  6.38  14.72  21.06  29.22
1 2022-08-01  22.39  49.44  6.54  19.24  25.75  30.65
2 2022-09-01  17.24  41.52  3.99   8.85  12.84  17.24
3 2022-10-01  21.18  47.61  5.88  12.83  18.69  18.19
4 2022-11-01  24.56  52.79  8.25  12.33  20.59  20.52

In [262]:
df['PM2.5'] = pd.to_numeric(df['PM2.5'], downcast='integer', errors='coerce')
df['PM10'] = pd.to_numeric(df['PM10'], downcast='integer', errors='coerce')
df['NO'] = pd.to_numeric(df['NO'], downcast='integer', errors='coerce')
df['NO2'] = pd.to_numeric(df['NO2'], downcast='integer', errors='coerce')
df['NOx'] = pd.to_numeric(df['NOx'], downcast='integer', errors='coerce')
df['NH3'] = pd.to_numeric(df['NH3'], downcast='integer', errors='coerce')
df.head()

        Date  PM2.5   PM10    NO    NO2    NOx    NH3
0 2022-07-01  27.35  57.07  6.38  14.72  21.06  29.22
1 2022-08-01  22.39  49.44  6.54  19.24  25.75  30.65
2 2022-09-01  17.24  41.52  3.99   8.85  12.84  17.24
3 2022-10-01  21.18  47.61  5.88  12.83  18.69  18.19
4 2022-11-01  24.56  52.79  8.25  12.33  20.59  20.52

In [263]:
df.dtypes

Date     datetime64[ns]
PM2.5           float64
PM10            float64
NO              float64
NO2             float64
NOx             float64
NH3             float64
dtype: object

In [264]:
df.isnull().sum()

Date       116
PM2.5    12646
PM10     12166
NO       14383
NO2      13700
NOx      11689
NH3      14224
dtype: int64

In [265]:
df.isna().sum()

Date       116
PM2.5    12646
PM10     12166
NO       14383
NO2      13700
NOx      11689
NH3      14224
dtype: int64

In [266]:
df['PM2.5'] = df['PM2.5'].interpolate(method='linear').round().astype(int)
df['PM10'] = df['PM10'].interpolate(method='linear').round().astype(int)
df['NO'] = df['NO'].interpolate(method='linear').round().astype(int)
df['NO2'] = df['PM2.5'].interpolate(method='linear').round().astype(int)
df['NOx'] = df['NOx'].interpolate(method='linear').round().astype(int)
df['NH3'] = df['NH3'].interpolate(method='linear').round().astype(int)
#df['Date'] = df['Date'].interpolate(method='linear').round().astype(datetime64[ns])

In [267]:
df.index

RangeIndex(start=0, stop=21769, step=1)

In [268]:
Date=df['Date']

In [269]:
#df.set_index(Date, inplace=True)

# Drop rows with missing values in the "date" column
df = df.dropna(subset=['Date'])

# Print the resulting dataframe
print(df)

            Date  PM2.5  PM10    NO  NO2  NOx  NH3
0     2022-07-01     27    57     6   27   21   29
1     2022-08-01     22    49     7   22   26   31
2     2022-09-01     17    42     4   17   13   17
3     2022-10-01     21    48     6   21   19   18
4     2022-11-01     25    53     8   25   21   21
...          ...    ...   ...   ...  ...  ...  ...
21764 2023-04-01     80    60  1012   80   25    1
21765 2023-05-01     80    60  1012   80   25    1
21766 2023-06-01     80    60  1012   80   25    1
21767 2023-07-01     80    60  1012   80   25    1
21768 2023-08-01     80    60  1012   80   25    1

[21653 rows x 7 columns]

In [270]:
df.isnull().sum()

Date     0
PM2.5    0
PM10     0
NO       0
NO2      0
NOx      0
NH3      0
dtype: int64

In [271]:
df.head()

        Date  PM2.5  PM10  NO  NO2  NOx  NH3
0 2022-07-01     27    57   6   27   21   29
1 2022-08-01     22    49   7   22   26   31
2 2022-09-01     17    42   4   17   13   17
3 2022-10-01     21    48   6   21   19   18
4 2022-11-01     25    53   8   25   21   21

In [272]:
df.dtypes

Date     datetime64[ns]
PM2.5             int64
PM10              int64
NO                int64
NO2               int64
NOx               int64
NH3               int64
dtype: object